.homepage {
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .intro {
    width: 80%;
    max-width: 450px;
    input{
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;
      button {
        width: 140px;
      }
    }
  }
}
